@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 1;
}

header .logo a img {
  width: 400px;
  height: 200px;
}

header nav ul {
  float: right;
  margin-right: 20px;
}

header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
header nav ul li a {
  color: white;
  font-size: 27px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
header nav ul li a:hover {
  background-color: #6f4e37;
}

/* Content */

.content {
  background-image: url("img/header_coffee.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.content img {
  width: 1800px;
  height: 900px;
}
.content h1 {
  font-size: 60px;
  color: white;
  text-shadow: 5px 4px 5px rgba(0, 0, 0, 1);
}

.content .button {
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 35px;
}

.content .button:hover {
  background: #ccae9a;
}

/* menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 0;
}

.section-title h4 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 60px;
  color: white;
}

.menus {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 5%;
}

.menus-items {
  flex-basis: 32%;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.title {
  background-color: #261a12;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.coffee-menu {
  background-color: #6f4e37;
  border: 1px #6f4e37;
  padding: 25px;
  text-align: center;
  position: relative;
  transition: 0.3s;
  margin-bottom: 30px;
}

.coffee-menu:hover {
  border-color: #ffffff;
  border-radius: 7px;
}

.coffee-menu:hover img {
  border-radius: 50%;
}

.coffee-menu span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #261a12;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px 0 0 0;
}

.coffee-menu img {
  max-width: 80px;
  border: 1px solid white;
  padding: 1px;
  transition: 0.3s;
}

.coffee-menu h4 {
  border-bottom: 1px dashed white;
  margin: 10px 0;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}

.menus-area {
  background-image: url("img/menu_background.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  display: flex;
  z-index: 2;
  padding: 100px 0;
  color: white;
}

.coffee-menu a {
  border-bottom: 3px solid #261a12;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 25px;
}

.menus-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b48868;
  z-index: -1;
  opacity: 0.5;
  left: 0;
  top: 0;
}

/*footer*/
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #261a12;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #6f4e37;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ccae9a;
  background-color: #ccae9a;
}

/*Contact Us*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.bg {
  background-image: url("img/contact_background.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  display: flex;
  z-index: 2;
  padding: 100px 0;
  color: white;
}

.container-c {
  min-height: 100vh;
  background: #6f4e37;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-c form {
  width: 670px;
  height: 400px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px #261a12;
  border-radius: 15px;
  background-color: #ccae9a;
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
}
.container-c form h1 {
  color: #261a12;
  font-weight: 500;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}
.container-c form input {
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #261a12;
}
.container-c form input::placeholder {
  color: #261a12;
}

.container-c form #lastname,
.container-c form #mobile {
  margin-left: 20px;
}
.container-c form h4 {
  color: #261a12;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}
.container-c form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #261a12;
  color: #261a12;
  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  max-height: 80px;
}
textarea::-webkit-scrollbar {
  width: 1em;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #261a12;
}
.container-c form button {
  border: none;
  background: #ffffff;
  border-radius: 50px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #261a12;
  width: 100px;
  padding: 0;
  margin-right: 500px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.container-c form #button:hover {
  opacity: 0.7;
}
